<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.scheduler.repository.ScheduleMapper">

    <select id="selectSchedules" resultType="demo.scheduler.domain.Schedule"
            parameterType="demo.scheduler.dto.common.ScheduleFilterDto">
        SELECT schedule_id, title, content, color, repeat_unit, alert_time, start_time, end_time
        FROM schedule
        <where>
            <if test="month != null and month != 0">
                AND (TO_NUMBER(TO_CHAR(start_time, 'MM'), '99') <![CDATA[<=]]> #{month} AND TO_NUMBER(TO_CHAR(end_time, 'MM'), '99') <![CDATA[>=]]> #{month})
                <if test="weekly != null and weekly != 0">
                    AND EXTRACT(WEEK FROM start_time) <![CDATA[<=]]> #{totalWeekly} AND EXTRACT(WEEK FROM end_time) <![CDATA[>=]]> #{totalWeekly}
                </if>
            </if>
        </where>
        ORDER BY start_time
    </select>

    <select id="selectScheduleById" resultType="demo.scheduler.dto.schedule.ScheduleWithFile" parameterType="Long">
        SELECT schedule.schedule_id as id, title, content, color, repeat_unit, alert_time, start_time, end_time, file_id, origin_name, path
        FROM schedule
        LEFT OUTER JOIN file
        ON schedule.schedule_id = file.schedule_id
        WHERE schedule.schedule_id = ${id}
    </select>

    <insert id="insertSchedule" parameterType="demo.scheduler.domain.Schedule" >
        INSERT INTO schedule (title, content, color, repeat_unit, alert_time, start_time, end_time)
        VALUES (#{title}, #{content}, #{color}, #{repeatUnit}, #{alertTime}, #{startDateTime}, #{endDateTime})
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT MAX(schedule_id) FROM schedule
        </selectKey>
    </insert>

    <update id="updateSchedule" parameterType="demo.scheduler.domain.Schedule">
        UPDATE schedule
        SET ( title, content, color, repeatUnit, alertTime )
                = (#{title}, #{content}, #{color}, #{repeatUnit}, #{alertTime})
        WHERE schedule_id = ${id}
    </update>

</mapper>