<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.scheduler.repository.UploadedFileMapper">

    <insert id="insertFile" parameterType="demo.scheduler.domain.UploadedFile">
        INSERT INTO file (origin_name, stored_name, path, schedule_id)
        VALUES (#{originName}, #{storedName}, #{path}, #{scheduleId})
    </insert>

    <select id="selectFileById" parameterType="Long" resultType="demo.scheduler.domain.UploadedFile">
        SELECT file_id, origin_name, stored_name, path, schedule_id
        FROM file
        WHERE file_id = ${id}
    </select>

</mapper>